name: Common Build and Test

on:
  workflow_call:
    inputs:
      upload-artifacts:
        required: false
        type: boolean
        default: false

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build files with Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci

      - run: npm run build

      - name: Validate build success
        run: |
          if [ ! -f "dist/homeassistant-raumplan.js" ]; then
            echo "Build failed: 'dist/homeassistant-raumplan.js' not found."
            exit 1
          fi

      - name: Upload build artifacts
        if: ${{ inputs.upload-artifacts }}
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: dist/
